@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}


/* Make rectangle visible while drawing */
.leaflet-draw-draw-rectangle .leaflet-draw-tooltip,
.leaflet-draw-draw-rectangle .leaflet-draw-tooltip-single {
  background: rgba(22, 163, 74, 0.9);
}

/* Preview rectangle while dragging */
.leaflet-draw-draw-rectangle .leaflet-interactive {
  stroke: #16a34a !important;
  stroke-width: 3 !important;
  fill: #16a34a !important;
  fill-opacity: 0.15 !important;
}
